* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0d0f17;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    display: flex;
    max-width: 800px;
    padding: 20px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(71, 71, 176, 0.65);
    color: #f0f0f0;
}

.description, .contact-form {
    flex: 1;
    padding: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.description p {
    font-size: 0.9em;
    line-height: 1.5;
}

.contact-form h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #555;
    color: #fff;
}

.contact-form textarea {
    resize: none;
    height: 80px;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #0ff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #333;
}